services:
  agentbox:
    build:
      context: .
      # args:
      #   # 让容器内 dev 用户和宿主机用户 UID/GID 对齐，避免挂载权限乱
      #   HTTP_PROXY:  http://127.0.0.1:29870
      #   HTTPS_PROXY: http://127.0.0.1:29870
      #   ALL_PROXY:   socks5://127.0.0.1:29871
      #   NO_PROXY:    localhost,127.0.0.1,::1

    image: agentbox:latest
    container_name: agentbox
    tty: true
    stdin_open: true
    working_dir: /workspace

    user: "0:0"
    # 推荐用 .env 注入 key，不要写进镜像/compose
    env_file:
      - .env

    environment:
      AUTO_TMUX: "0"
      TMUX_SESSION: "agent"
      GIT_SSH_COMMAND: "ssh -o ServerAliveInterval=30 -o ServerAliveCountMax=6"

    volumes:
      # 你的代码目录
      - /baai-cwm-vepfs/cwm/nan.wang/code:/workspace

      # ssh/gitconfig：挂到 node 的 home
      - ~/.ssh:/home/node/.ssh:ro
      - ~/.gitconfig:/home/node/.gitconfig:ro
      # bashrc：持久化保存（如果宿主机存在 ~/.bashrc 则优先使用，否则使用 volume 中的配置）
      - agentbox_bashrc:/home/node/.bash_config

      # caches & configs
      - agentbox_npm:/home/node/.npm
      - agentbox_cache:/home/node/.cache
      - agentbox_config:/home/node/.config
      - agentbox_npm_global:/home/node/.npm-global
      - agentbox_clash:/home/node/clash-for-linux

volumes:
  agentbox_npm:
  agentbox_cache:
  agentbox_config:
  agentbox_npm_global:
  agentbox_clash:
  agentbox_bashrc: